*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* to box model*/
}

body{
    font-family: Latoital, sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
}

.button__primary{
    background-image:  linear-gradient(to right,#ff512f 0%,#dd2476 51%,#ff512f 100%);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__brand{
    width: 100px;
}

.navbar__logo{
    width: 100%;
}

.hero__container{
    width: 100%;
}

.hero__image__container{
    width: 100px;
}

.hero__image{
    width: 100%;
}

@media (min-width: 768px){
    .navbar{
        justify-content: space-between;
        padding: 10px 20px;
    }
    .navbar__brand{
        width: 150px;
    }
    .nav__item{
        font-size: 20px;
        padding: 20px;
    }
}
@media (min-width: 1020px){
    .container{
        max-width: 1010px;
    }
    .hero__image__container{
        width: 20px;
        height: 500px;
    }
}

@media (min)